-var heading = "My Cards ("+deckId+")"
html
    head
        title Cards
    body
        h1(id=deckId)= heading
        .cards
        script(src="/client/js/jquery.min.js")
        script(src="/client/js/cardRequests.js")